 
	  
.soc{
	@include roww(10px, m);
	display: flex;
	&__item{
		text-decoration: none !important; 
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		&:hover{
		 	// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
		}
		
	}
	.icon{
		font-size: rem(30);
	}
}

.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

//-
.dd-group{
	counter-reset: list 0;
	&__item{
		list-style-type: none;
		margin-bottom: 10px;

		background: $white;
		border: 1px solid $gray-300;
		border-radius: 5px;

		--item-px: 16px;
		@include media-breakpoint-up(sm){
			--item-px: #{rem(20)};
		}

		--header-pb: #{rem(17px)};
		&.active{
			box-shadow: 1px 1px 5px 0 rgba($black, .1);
			--header-pb: #{rem(16px)};

			--num-bg: #{$yellow};
			--chevron-rot: #{180deg};

			&:hover{
				--num-bg: #{rgba($gray-600, .3)};
			}
		}

		&:hover{
			--num-bg: #{rgba($yellow, .7)};
		}
	}
	&__head{
		cursor: pointer;

		font-weight: 500;
		padding: 12.5px var(--item-px);
		@include media-breakpoint-up(sm){
			padding: rem(17) var(--item-px) var(--header-pb) var(--item-px);
		}

		display: flex;
		align-items: center;

		&:before{
			@include mt();
			counter-increment: list;
			content: counter(list);

			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			flex-shrink: 0;

			background: var(--num-bg, #{$gray-200});
			border-radius: 5px;
			margin-right: 10px;

			min-width: 20px;
			padding: 2px;
			height: 20px;
			font-size: 12px;
			line-height: calc(14/12);
			@include media-breakpoint-up(sm){
				min-width: rem(24);
				height: rem(24);
				font-size: rem(14);
				line-height: calc(16/14);
			}
		}

		&:after{
			@include mt();
			transform: rotateX(var(--chevron-rot, 0deg));

			content: '';
			flex-shrink: 0;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: rem(12);
			height: rem(12);
			//background-color: red;
			margin-left: auto;

			background-image: url(../img/svg/chevron-down-o.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}
	}
	&__content{
		display: none;
		&.active{
			display: block;
		}

		//-
		line-height: 1.5;

		font-size: 12px;
		padding: 0 var(--item-px) 12px;
		@include media-breakpoint-up(sm){
			font-size: rem(14);
			padding: 0 var(--item-px) rem(14);
		}

		& > *:last-child{
			margin-bottom: 0;
		}
	} 
	&__{}
	&__{}
	&__{}
	&__{}
}

.dd-content-js{
	display: none;
	&.active{
		display: block;
	}
}