extends layout/main.pug


include ../blocks/sCalc/_sCalc.pug

//- block variables
//- 	- let  mainPage= 'main-page' 
//- 	- let  bg= null

//- block title
//- 	- let  title= 'title'
//- 	title= title
block pagecontent
	//- +mob-mnu()
	+sCalc2